<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
	android:background="@android:color/black">
	<LinearLayout
		android:layout_width="match_parent"
		android:layout_height="100dp">
		<ImageView
			android:src="@drawable/logo"
			android:layout_width="match_parent"
			android:layout_height="match_parent"
		/> 
	</LinearLayout>
	<LinearLayout
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:weightSum="3">
		<TextView 
			android:text="Game:\nRoom1"
			android:textColor="@android:color/white"
			android:textSize="20sp"
			android:gravity="center_horizontal"
			android:layout_height="wrap_content"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:id="@+id/game_roomName"/>
		<TextView 
			android:text="Question:\n5/10"
			android:textColor="@android:color/white"
			android:textSize="20sp"
			android:gravity="center_horizontal"
			android:layout_height="wrap_content"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:id="@+id/game_questionNumber"/>
		<TextView 
			android:text="Timeout:\n1000"
			android:textColor="@android:color/white"
			android:textSize="20sp"
			android:gravity="center_horizontal"
			android:layout_height="wrap_content"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:id="@+id/game_timeleft"/>
	</LinearLayout>
	<LinearLayout
		android:layout_width="match_parent"
		android:layout_margin="10dp"
		android:layout_height="100dp"
		android:layout_marginTop="20dp">
		<TextView
			android:layout_width="match_parent"
			android:layout_height="match_parent"
			android:background="#ff006064"
			android:textSize="20sp"
			android:textColor="@android:color/white"
			android:padding="5dp"
			android:id="@+id/game_question"/>
		<TextView
			android:gravity="center"
			android:layout_width="match_parent"
			android:layout_height="match_parent"
			android:background="#ff006064"
			android:textSize="20sp"
			android:textColor="@android:color/white"
			android:padding="5dp"
			android:text="Waiting for players..."
			android:visibility="gone"
			android:id="@+id/game_waitingMessage"/>
	</LinearLayout>
	<LinearLayout
		android:orientation="horizontal"
		android:weightSum="2"
		android:layout_width="match_parent"
		android:layout_height="200dp"
		android:paddingHorizontal="10dp"
		android:layout_marginTop="10dp">
		<LinearLayout 
			android:orientation="vertical"
			android:weightSum="2"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:layout_height="200dp"
			android:paddingRight="10dp">
			<Button
				android:layout_height="0dp"
				android:layout_width="match_parent"
				android:layout_weight="1"
				android:text="Answer 1"
				android:background="#ff64dd17"
				android:id="@+id/game_answer1"/>
			<Button
				android:layout_height="0dp"
				android:layout_width="match_parent"
				android:layout_weight="1"
				android:text="Answer 2"
				android:background="@android:color/holo_blue_dark"
				android:layout_marginTop="10dp"
				android:id="@+id/game_answer2"/>
		</LinearLayout>
		<LinearLayout 
		android:orientation="vertical"
		android:weightSum="2"
		android:layout_width="0dp"
		android:layout_weight="1"
		android:layout_height="200dp">
			<Button
				android:layout_height="0dp"
				android:layout_width="match_parent"
				android:layout_weight="1"
				android:text="Answer 3"
				android:background="@android:color/holo_orange_dark"
				android:id="@+id/game_answer3"/>
			<Button
				android:layout_height="0dp"
				android:layout_width="match_parent"
				android:layout_weight="1"
				android:text="Answer 4"
				android:background="@android:color/holo_purple"
				android:layout_marginTop="10dp"
				android:id="@+id/game_answer4"/>
		</LinearLayout>	
	</LinearLayout>
	<LinearLayout
		android:orientation="horizontal"
		android:weightSum="2"
		android:layout_width="match_parent"
		android:layout_height="40dp"
		android:gravity="center"
		android:layout_marginTop="10dp">
		<Button
			android:layout_height="40dp"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:text="leave"
			android:background="@android:color/holo_red_dark"
			android:id="@+id/game_leave"/>
	</LinearLayout>
</LinearLayout>
